<ion-view title="Guided Meditations" id="page1">
  <ion-content padding="false" style="background: url(img/Bpfyr8LnTVuCfOBYl65f_eminmed.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <ion-list id="guidedMeditations-list1">
      <ion-item class="item-icon-left positive" id="guidedMeditations-list-item4">
        <i class="icon ion-android-volume-down"></i>3 minute meditation </ion-item>
      <ion-item class="item-icon-left positive" id="guidedMeditations-list-item5">
        <i class="icon ion-android-volume-down"></i>4 minute meditation
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-icon-left positive" id="guidedMeditations-list-item6">
        <i class="icon ion-android-volume-down"></i>10 minute meditation</ion-item>
    </ion-list>
  </ion-content>
</ion-view>